.my-account-gift-aid {
    border: 1px solid #ededed;
    border-radius: 8px;
    padding: 30px;
}

.my-account-gift-aid .skydonate-gift-aid-logo {
    float: right;
    width: 110px;
    margin-top: 10px;
}

.my-account-gift-aid  .skydonate-gift-aid-title {
    margin-bottom: 10px;
}
