.donation-button-icon svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.donation-button-icon svg path {
    stroke: currentColor;
}


.ctooltip {
    position: relative;
    display: inline-block;
}

.ctooltip .ctooltiptext {
    visibility: hidden;
    width: 550px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.ctooltip .ctooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 12%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.ctooltip:hover .ctooltiptext {
    visibility: visible;
    opacity: 1;
}

div#additionalText {
    background: white;
    border: 2px solid #bbcfed;
    padding: 10px;
    width: 100%;
    /* Use full width for the text */
    max-width: 100%;
    /* Set a maximum width */
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* Include padding in the element's total width and height */
    overflow-wrap: break-word;
    /* Ensure long words break into new lines */
}

@media (min-width: 600px) {
    div#additionalText {
        max-width: none;
        /* Allow full width on larger screens */
    }
}

@media (max-width: 600px) {
    div#additionalText {
        width: 100%;
        /* Use full width for mobile */
    }

    .ctooltiptext {
        max-width: 270px !important;
        left: -120px !important;
        padding: 10px !important;
    }
}

div#additionalText p {
    white-space: normal;
    /* Allow text to wrap normally */
}

label.wootooltip {
    width: auto !important;
    display: inline;
}

.tooltip-container {
    display: inline-block;
    position: relative;
}

.tooltip-icon {
    cursor: pointer;
    margin-left: 5px;
    font-weight: bold;
    border: 1.4px solid #000;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container.active .tooltip-text {
    visibility: visible;
    opacity: 1;
}

body.checkout-custom-style form.woocommerce-checkout .form-row.address-autocomplete-container {
    background-color: transparent !important;
    border: none !important;
    padding: 0px !important;
}


body.checkout-custom-style form.woocommerce-checkout .form-row .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px;
}

body.checkout-custom-style form.woocommerce-checkout .form-row .select2-container--default .select2-selection,
.checkout-custom-style form.woocommerce-checkout .form-row input[type="email"],
.checkout-custom-style form.woocommerce-checkout .form-row input[type="date"],
.checkout-custom-style form.woocommerce-checkout .form-row input[type="search"],
.checkout-custom-style form.woocommerce-checkout .form-row input[type="number"],
.checkout-custom-style form.woocommerce-checkout .form-row input[type="text"],
.checkout-custom-style form.woocommerce-checkout .form-row input[type="tel"],
.checkout-custom-style form.woocommerce-checkout .form-row input[type="url"],
.checkout-custom-style form.woocommerce-checkout .form-row input[type="password"],
.checkout-custom-style form.woocommerce-checkout .form-row textarea,
.checkout-custom-style form.woocommerce-checkout .form-row select:not(.select2-hidden-accessible) {
    border: solid 1px gray;
    border-radius: 8px;
    box-shadow: none !important;
    outline: none !important;
    margin: 0;
    padding: 20px 14px 10px 14px;
    height: 50px;
    line-height: 1.2em;
    color: black;
}

body .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 3px 15px 3px 1px !important;
    line-height: 1em !important;
    display: flex;
    align-items: center;
}

div.create-account {
    border: none !important;
}

.checkout-custom-style form.woocommerce-checkout .form-row {
    position: relative;
}

.checkout-custom-style form.woocommerce-checkout .form-row ::placeholder {
    opacity: 0;
}

.checkout-custom-style form.woocommerce-checkout .woocommerce-input-wrapper {
    display: block;
}

.checkout-custom-style form.woocommerce-checkout .form-row label:not(.checkbox) {
    margin: 0;
    position: absolute;
    left: 15px;
    top: 2px;
    width: 90%;
    transform: scale(0.7);
    transform-origin: left;
    z-index: 2;
    transition: .3s;
    color: #626262 !important;
}

.paa-search-icon {
    display: inline-flex;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    color: green;
    font-size: 12px;
}

#billing_address_search_field .optional {
    display: none;
}

.checkout-custom-style form.woocommerce-checkout .form-row.input-empty:not(#billing_state_field) label {
    top: 13px;
    transform: scale(1);
}


select.select {
    background-image: var(--wd-form-chevron);
    background-position: left 98% center;
    background-size: auto 18px;
    background-repeat: no-repeat;
}

.daily-note-message,
.daily-note-text,
.daily-donation-note {
    font-size: 12px;
    padding: 5px 0px 5px 0px;
    border-radius: 20px;
}

.daily-donation-note {
    width: 100%;
    background: #eef2ff;
    letter-spacing: 0.1px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


input.date-picker.jui-picker {
    border: none;
    padding: 13px 0 0 0;
    height: 45px;
}

.ui-widget-content {
    background-color: #2f2f2f;
    padding: 20px;
    border-radius: 10px;
    color: white;
    z-index: 9999 !important;
    position: fixed;
    left: -100%;
}

.ui-widget-content * {
    color: white;
    border-color: #4b4b4b;
}

.ui-widget-content .ui-widget-header {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.ui-widget-content .ui-widget-header .ui-datepicker-prev,
.ui-widget-content .ui-widget-header .ui-datepicker-next {
    width: 24px;
    height: 24px;
    overflow: hidden;
    text-indent: 999px;
    background-image: url('../img/next.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
}

.ui-widget-content .ui-widget-header .ui-datepicker-prev {
    transform: rotate(180deg);
    margin-right: 5px;
}

.ui-widget-content .ui-widget-header .ui-datepicker-title {
    margin-left: auto;
    padding-right: 20px;
    background-image: url('../img/next.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 16px;
}

.ui-widget-content table {
    margin-bottom: 0px;
}

.ui-widget-content th {
    padding: 10px 5px 10px 5px;
    font-size: 10px;
    line-height: 1em;
    opacity: 0.4;
    border-width: 0px;
}

.ui-widget-content td.ui-state-disabled {
    opacity: 0.2;
}


.ui-widget-content td>span,
.ui-widget-content td>a,
.ui-widget-content td {
    padding: 0px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-weight: 600;
}

.ui-widget-content td>span,
.ui-widget-content td>a {
    border-radius: 999px;
    display: block;
}

.ui-widget-content td a:hover {
    color: #88c8ff;
}

.ui-widget-content td.ui-datepicker-today>span {
    background-color: #88c7ff24;
    color: #88c8ff;
}

.ui-widget-content td.ui-datepicker-today .ui-state-default {
    background-color: rgba(255,255,255,0.2);
    color: white;
}

.ui-widget-content td:not(.ui-state-disabled) .ui-state-default:hover {
    background-color: white;
    color: var(--accent-dark-color);
}

.ui-widget-content td:not(.ui-state-disabled) .ui-state-active {
    background-color: var(--accent-dark-color);
    color: white;
}

.donation-form-layout2 .lost_reset_password label,
.sky-donation-login .login-form-box label {
    margin-bottom: 5px;
    display: block !important;
}


.donation-form-layout2 .lost_reset_password .input-text,
.sky-donation-login .login-form-box .input,
.sky-donation-login .login-form-box .form-row .input-text {
    border-radius: 8px !important;
}

:is(.btn, .button, button, [type=submit], [type=button]),
.sky-donation-login .login-form-box .button,
.donation-form-layout2 .lost_reset_password .button {
    background-color: #1b9cd7;
    text-transform: capitalize;
    border-radius: 8px;
    font-size: 16px;
}

:is(.btn, .button, button, [type=submit], [type=button]):hover,
.sky-donation-login .login-form-box .button:hover,
.donation-form-layout2 .lost_reset_password .button:hover {
    background-color: #0d7eb1;
}

.link__text {
    color: var(--wd-primary-color);
    font-weight: 600;
}

.regular__text {
    color: #4e4d54;
}

.sky-smart-switch {
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
}

.sky-smart-switch .switch {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 22px;
    background-color: #e8e8e8;
    border-radius: 99px;
    transition: background-color 0.3s;
}

.sky-smart-switch .switch::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 16px;
    height: 16px;
    background-color: #929292;
    border-radius: 50%;
    transition: 0.3s;
}

.sky-smart-switch input:checked+.switch {
    background-color: #fcd1e6;
}

.sky-smart-switch input:checked+.switch::after {
    left: 21px;
    background-color: #e42281;
}

.sky-smart-switch input[type="checkbox"] {
    display: none;
}

/* Loading state */
.sky-smart-switch.load .switch::after {
    animation: zoom 0.8s ease-in-out infinite;
    transform-origin: center;
}

.skyweb-gift-aid-toggle {
    padding-top: 5px;
}

.skyweb-gift-aid-toggle .gift-aid-image {
    width: 100px;
    float: right;
    margin-left: 10px;
}

.skyweb-gift-aid-toggle .gift-aid-note {
    margin: 24px 0 0 0;
    background: #E4F8FF;
    padding: 24px;
    border-radius: 10px;
    color: black;
    font-size: 16px;
}

/* Zoom / pulse animation */
@keyframes zoom {

    0%,
    100% {
        transform: scale(0.1);
    }

    50% {
        transform: scale(1);
    }
}