
body.checkout-custom-style form.woocommerce-checkout .form-row.address-autocomplete-container {
    background-color: transparent !important;
    border: none !important;
    padding: 0px !important;
}


body.checkout-custom-style form.woocommerce-checkout .form-row .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px;
}

body.checkout-custom-style form.woocommerce-checkout .form-row .select2-container--default .select2-selection,
.checkout-custom-style form.woocommerce-checkout .form-row input[type="email"],
.checkout-custom-style form.woocommerce-checkout .form-row input[type="date"],
.checkout-custom-style form.woocommerce-checkout .form-row input[type="search"],
.checkout-custom-style form.woocommerce-checkout .form-row input[type="number"],
.checkout-custom-style form.woocommerce-checkout .form-row input[type="text"],
.checkout-custom-style form.woocommerce-checkout .form-row input[type="tel"],
.checkout-custom-style form.woocommerce-checkout .form-row input[type="url"],
.checkout-custom-style form.woocommerce-checkout .form-row input[type="password"],
.checkout-custom-style form.woocommerce-checkout .form-row textarea,
.checkout-custom-style form.woocommerce-checkout .form-row select:not(.select2-hidden-accessible) {
    border: solid 1px gray;
    border-radius: 8px;
    box-shadow: none !important;
    outline: none !important;
    margin: 0;
    padding: 20px 14px 10px 14px;
    height: 50px;
    line-height: 1.2em;
    color: black;
}

.checkout-custom-style form.woocommerce-checkout .form-row {
    position: relative;
}

.checkout-custom-style form.woocommerce-checkout .form-row ::placeholder {
    opacity: 0;
}

.checkout-custom-style form.woocommerce-checkout .woocommerce-input-wrapper {
    display: block;
}

.checkout-custom-style form.woocommerce-checkout .form-row label:not(.checkbox) {
    margin: 0;
    position: absolute;
    left: 15px;
    top: 2px;
    width: 90%;
    transform: scale(0.7);
    transform-origin: left;
    z-index: 2;
    transition: .3s;
    color: #626262 !important;
}

.checkout-custom-style form.woocommerce-checkout .form-row.input-empty:not(#billing_state_field) label {
    top: 13px;
    transform: scale(1);
}