.sky-donation-login .login-form-box {
    max-width: 600px;
    border: 1px solid #ededed;
    background-color: white;
    padding: 30px 30px;
    margin: auto;
    border-radius: 18px;
}

.sky-donation-login .login-form-box .wd-login-title {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' x='0' y='0' viewBox='0 0 24 24' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg fill='%23000'%3E%3Cpath d='M14.945 1.25c-1.367 0-2.47 0-3.337.117-.9.12-1.658.38-2.26.981-.524.525-.79 1.17-.929 1.928-.135.737-.161 1.638-.167 2.72a.75.75 0 0 0 1.5.008c.006-1.093.034-1.868.142-2.457.105-.566.272-.895.515-1.138.277-.277.666-.457 1.4-.556.755-.101 1.756-.103 3.191-.103h1c1.436 0 2.437.002 3.192.103.734.099 1.122.28 1.4.556s.456.665.555 1.4c.102.754.103 1.756.103 3.191v8c0 1.435-.001 2.437-.103 3.192-.099.734-.279 1.122-.556 1.399s-.665.457-1.399.556c-.755.101-1.756.103-3.192.103h-1c-1.435 0-2.436-.002-3.192-.103-.733-.099-1.122-.28-1.399-.556-.243-.243-.41-.572-.515-1.138-.108-.589-.136-1.364-.142-2.457a.75.75 0 1 0-1.5.008c.006 1.082.032 1.983.167 2.72.14.758.405 1.403.93 1.928.601.602 1.36.86 2.26.982.866.116 1.969.116 3.336.116h1.11c1.368 0 2.47 0 3.337-.117.9-.12 1.658-.38 2.26-.981.602-.602.86-1.36.982-2.26.116-.867.116-1.97.116-3.337v-8.11c0-1.367 0-2.47-.116-3.337-.121-.9-.38-1.658-.982-2.26-.602-.602-1.36-.86-2.26-.981-.867-.117-1.97-.117-3.337-.117z' fill='%23000000' opacity='1' data-original='%23000000' class=''%3E%3C/path%3E%3Cpath d='M2.001 11.249a.75.75 0 0 0 0 1.5h11.973l-1.961 1.68a.75.75 0 1 0 .976 1.14l3.5-3a.75.75 0 0 0 0-1.14l-3.5-3a.75.75 0 0 0-.976 1.14l1.96 1.68z' fill='%23000000' opacity='1' data-original='%23000000' class=''%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto 32px;
    padding-right: 30px;
    color: #235fa5;
    text-transform: capitalize;
    font-size: 28px;
}

.sky-donation-login .login-form-box #magic-login-shortcode {
    width: 100%;
}

.sky-donation-login .login-form-box #magic-login-shortcode .message {
    text-align: center;
    border: none;
    font-size: 16px;
}

.sky-donation-login .woocommerce-form,
.sky-donation-login .login-form-box .login {
    padding: 0px;
}

.sky-donation-login .login-form-box hr {
    padding: 0px;
}

.sky-checkout-login .woocommerce-form-login-toggle {
    padding-bottom: 5px;
}

.sky-checkout-login .sky-donation-login:not(.show) {
    display: none;
}

.sky-checkout-login {
    border-bottom: 1px solid #0000001A;
    margin-bottom: 20px;
}

.sky-checkout-login .sky-donation-login {
    margin-bottom: 30px;
}