.donation-progress .progress-info {
    font-size: 20px;
    color: gray;
    font-weight: 400;
    color: #808080;
}

.donation-progress .progress-info .amount {
    font-weight: inherit;
    color: inherit;
}

.donation-progress .progress-info .raised {
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.donation-progress .progress-info .goal {
    color: #808080;
}

.donation-progress .progress-bar-background {
    position: relative;
    border-radius: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.donation-progress:not(.layout2) .progress-bar-background {
    background-color: #d3e1fb;
}

.donation-progress .progress-bar-background .progress-bar {
    width: 0%;
    border-radius: 99px;
    position: relative;
    overflow: visible;
}

.donation-progress:not(.layout2) .progress-bar-background .progress-bar {
    background: linear-gradient(90deg,#acf86c,#4a9d44 93.27%);
    height: 26px;
}

.donation-progress .progress-bar-background .percent {
    color: #000;
    font-weight: 400;
    font-size: 14px;
    margin-left: 8px;
    position: absolute;
    right: -30px;
    transition: 0.2s;
}

.donation-progress .progress-bar-background .progress-bar[data-small="false"] .percent {
    right: 10px;
    color: white;
}

.donation-progress.layout2 .raised-title {
    color: black;
    font-size: 32px;
    margin-bottom: 5px;
    letter-spacing: 0px;
}

.donation-progress.layout2 .target-title {
    display: flex;
    align-items: center;
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
}

.donation-progress.layout2 .target-title small {
    font-size: 20%;
    margin: 5px 12px;
}

.donation-progress.layout2 .target-title>span {
    margin-right: 5px;
}

.donation-progress.layout2 .target-title .percent {
    margin-left: auto;
    margin-right: 0;
}

.donation-progress.layout2 .target-title,
.donation-progress.layout2 .target-title * {
    color: #6b6b6b;
    font-weight: 700 !important;
}

.donation-progress.layout2 .progress-bar-background {
    border: none;
    background-color: #f4f2ea;
}

.donation-progress.layout2 .progress-bar-background .progress-bar {
    background-color: #09a95a;
    height: 24px;
}


.donation-progress.layout2.circle .circle-progress-bar {
    position: relative;
    display: inline-block;
}

.donation-progress.layout2.circle .circle-progress-bar svg {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

.donation-progress.layout2.circle .circle-progress-bar .circle-bg {
    fill: none;
    stroke: #f4f2ea;
    stroke-width: 16;
}

.donation-progress.layout2.circle .circle-progress-bar .circle {
    fill: none;
    stroke: #09a95a;
    stroke-width: 16;
    stroke-linecap: round;
    stroke-dasharray: 314px;
    /* Circumference of the circle (2 * PI * r where r = 50) */
    stroke-dashoffset: 314px;
    /* Initially hide the stroke */
    transition: stroke-dashoffset 0.4s ease;
}

.donation-progress.layout2.circle .circle-progress-bar .percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    color: #666;
}

.donation-progress.layout2.circle .progress-bar-row {
    display: flex;
}