.skyweb-quick-donation-widget {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
}

.skyweb-quick-donation-widget .qd-field {
    width: calc(25% - 10px);
}

.skyweb-quick-donation-widget .qd-field .form-submit-button {
    width: 100%;
}

.skyweb-quick-donation-widget .qd-amount-wrap {
    position: relative;
}

.skyweb-quick-donation-widget .currency {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.skyweb-quick-donation-widget .qd-amount-wrap input[type="number"] {
    text-align: left;
    padding-left: 30px;
    padding-right: 10px;
}

.skyweb-quick-donation-widget .qd-field .qd-control {
    height: 60px;
    border-radius: 8px;
}

@media screen and (max-width: 992px) {
    .skyweb-quick-donation-widget .qd-field {
        width: calc(50% - 6px);
    }
}

@media screen and (max-width: 576px) {
    .skyweb-quick-donation-widget .qd-field {
        width: 100%;
    }
}