.sky-donations-orders {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #232323;
}

.sky-donations-orders .sky-order {
    margin: 0px;
}

.sky-default-donations .sky-donations-orders {
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(1, 1fr);
}

@media only screen and (min-width: 1025px) {
    /* Desktop – 3 Columns */
    .columns-desktop-three .sky-default-donations .sky-donations-orders {
        grid-template-columns: repeat(3, 1fr);
    }
    /* Add border except every 3rd item (3,6,9…) */
    .columns-desktop-three .sky-default-donations .sky-donations-orders .sky-order:not(:nth-child(3n)) {
        border-right: 1px solid #ededed;
    }

    /* Desktop – 2 Columns */
    .columns-desktop-two .sky-default-donations .sky-donations-orders {
        grid-template-columns: repeat(2, 1fr);
    }
    /* Add border except every 2nd item (2,4,6…) */
    .columns-desktop-two .sky-default-donations .sky-donations-orders .sky-order:not(:nth-child(2n)) {
        border-right: 1px solid #ededed;
    }
}


@media only screen and (min-width: 577px) and (max-width: 1024px) {
    /* tablet – 3 Columns */
    .columns-tablet-three .sky-default-donations .sky-donations-orders {
        grid-template-columns: repeat(3, 1fr);
    }
    /* Add border except every 3rd item (3,6,9…) */
    .columns-tablet-three .sky-default-donations .sky-donations-orders .sky-order:not(:nth-child(3n)) {
        border-right: 1px solid #ededed;
    }

    /* tablet – 2 Columns */
    .columns-tablet-two .sky-default-donations .sky-donations-orders {
        grid-template-columns: repeat(2, 1fr);
    }
    /* Add border except every 2nd item (2,4,6…) */
    .columns-tablet-two .sky-default-donations .sky-donations-orders .sky-order:not(:nth-child(2n)) {
        border-right: 1px solid #ededed;
    }
}

@media only screen and (max-width: 576px) {
    /* mobile – 3 Columns */
    .columns-mobile-three .sky-default-donations .sky-donations-orders {
        grid-template-columns: repeat(3, 1fr);
    }
    /* Add border except every 3rd item (3,6,9…) */
    .columns-mobile-three .sky-default-donations .sky-donations-orders .sky-order:not(:nth-child(3n)) {
        border-right: 1px solid #ededed;
    }

    /* mobile – 2 Columns */
    .columns-mobile-two .sky-default-donations .sky-donations-orders {
        grid-template-columns: repeat(2, 1fr);
    }
    /* Add border except every 2nd item (2,4,6…) */
    .columns-mobile-two .sky-default-donations .sky-donations-orders .sky-order:not(:nth-child(2n)) {
        border-right: 1px solid #ededed;
    }
}


.sky-donations-orders .sky-order .item-wrap {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.sky-default-donations {
    margin: 0px -20px;
}

.sky-default-donations .sky-order .item-wrap {
    padding: 10px 20px;
}

.sky-donations-orders .avatar {
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 99px;
    line-height: 0em;
    overflow: hidden;
}

.sky-donations-orders .avatar img {
    width: 60%;
    border-radius: 999px;
}

.sky-donations-orders .sky-order .name {
    color: black;
    font-size: 16px;
    margin-bottom: 1px;
}

.sky-donations-orders .sky-order ul.meta {
    list-style: none;
    margin: 0px;
    padding: 0;
    display: flex;
    gap: 2px;
    align-items: center;
    flex-wrap: wrap;
}

.sky-donations-orders .sky-order ul.meta li {
    margin: 0px;
}

.sky-donations-orders .sky-order ul.meta .price {
    color: black;
    font-weight: 700;
}

.sky-donations-orders .sky-order ul.meta .dot {
    font-size: 10px;
}

.sky-modal-actions {
    display: flex;
    gap: 12px;
    padding-top: 16px;
}

.sky-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.sky-modal .sky-modal_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.sky-modal .sky-modal_body {
    width: 615px;
    max-width: 100%;
    max-height: 85vh;
    background-color: white;
    border-radius: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sky-modal .sky-modal_body .sky-modal_content .sky-recent-donations-list {
    overflow: auto;
    height: calc(85vh - 68px);
}

.sky-modal .sky-modal_header {
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid #ededed;
    background-color: white;
}

.sky-modal .sky-modal_header-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sky-modal .sky-modal_header-top .sky-modal_title {
    margin: 0px;
}

.sky-modal .sky-modal_header-top .sky-modal_close {
    margin-left: auto;
    border: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
    min-height: inherit;
    border-radius: 99px;
    color: black;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.sky-modal .sky-modal_header-top .sky-modal_close:hover {
    background-color: #f7f7f7;
}
.sky-modal .sky-modal_header {
    padding: 20px 20px 15px 20px;
    border-bottom: 1px solid #ededed;
}

.sky-modal .sky-modal_header-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sky-modal .sky-modal_header-top .sky-modal_title {
    margin: 0px;
}

.sky-modal .sky-modal_header-top .sky-modal_close {
    margin-left: auto;
    border: none;
    background-color: var(--accent-color);
    width: 32px;
    height: 32px;
    min-height: inherit;
    border-radius: 99px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.sky-modal .sky-modal_header-top .sky-modal_close:hover {
    background-color: var(--accent-dark-color);
    color: white;
}

.items-loader {
    text-align: center;
    color: black;
    padding-top: 24px;
    padding-bottom: 24px;
    display: none;
}

.sky-modal .sky-modal_header .count-badge {
    background-color: #e9e9e9;
    font-weight: 700;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 4px;
    color: black;
    margin-left: 5px;
    margin-top: 5px;
}

.sky-modal_content .sky-donations-orders .sky-order .item-wrap {
    padding: 10px 20px;
}

@media only screen and (max-width: 768px) {
    .sky-modal .sky-modal_body {
        max-height: 100vh;
        height: 100%;
        border-radius: 0px;
    }
    
    .sky-modal .sky-modal_body .sky-modal_content,
    .sky-modal .sky-modal_body .sky-modal_content .sky-recent-donations-list {
        max-height: calc(100vh - 68px);
    }
    .sky-modal_content .sky-donations-orders {
        min-height: calc(100vh - 67px);
    }
}


@media only screen and (min-width: 576px) {
    .sky-modal_content .sky-donations-orders .sky-order {
        width: 50%;
    }

    .sky-modal_content .sky-donations-orders .sky-order:nth-child(odd) {
        border-right: 1px solid #ededed;
    }

    .sky-modal_content .sky-donations-orders {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

    }
}
