.zakat-calculator .zakat-currency-select {
    width: 100px;
    float: right;
    margin-left: 15px;
}

.zakat-calculator .zakat-submit-button {
    border: none;
    background-color: var(--accent-color);
    color: white;
    width: 100%;
    padding: 10px;
}

.zakat-calculator .zakat-submit-button:hover {
    background-color: var(--accent-dark-color);
    color: white;
}

.zakat-calculator .zakat-form-group {
    margin-bottom: 24px;
}

.zakat-calculator .zakat-input {
	border-color: rgba(255, 7, 7, 0.25);
	margin-bottom: 5px;
	line-height: 1.3em;
	text-align: left;
}

.zakat-calculator .zakat-label {
    font-size: 16px;
    font-weight: 700;
    color: #000000d9;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.zakat-calculator .zakat-section-title {
    display: flex;
    align-items: center;
    font-size: 27px;
    margin-bottom: 5px;
}

.zakat-calculator .zakat-section-title:after {
    content: "";
    width: 100%;
    height: 0px;
    border-bottom: 1px solid currentColor;
    opacity: .1;
    margin-left: 15px;
}

.zakat-form-group .relative {
    position: relative;
}

.zakat-form-group .currency-name {
    position: absolute;
    left: 16px;
    top: calc(50% - 2.5px);
    transform: translateY(-50%);
    z-index: 1;
    border-right: 2px solid rgba(0,0,0,0.1);
    padding-right: 8px;
}

.zakat-form-group .relative .zakat-input {
	padding-left: 45px;
	border: solid 1px var(--accent-light-color);
}

.zakat-calculator .zakat-preview {
    background-color: #f7a40d;
    color: white;
    padding: 40px;
    margin-top: 0px;
    text-align: center;
    display: none;
}

.zakat-calculator .zakat-preview .zakat-preview-title {
    color: currentColor;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}

.zakat-calculator .zakat-preview .zakat-deu-amount {
    color: currentColor;
    font-size: 3em;
    margin-bottom: 0px;
}

.zakat-calculator .donate-button {
    display: none;
}

.zakat-calculator .donate-now-button {
    background-color: white;
    padding: 14px 32px;
    display: inline-flex;
    margin-top: 24px;
    font-weight: 600;
    color: #000000d9;
}

.zakat-calculator .donate-now-button:hover {
    background-color: black;
    color: white;
}

.metal-value .metal-title {
    display: inline-flex;
}

.metal-value .currency {
    margin-left: 5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 768px) {
    .zakat-calculator .zakat-preview .zakat-deu-amount {
        font-size: 2em;
    }
    .zakat-calculator .donate-now-button {
        padding: 10px 20px;
    }
}